
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;900&display=swap');

*{
    /* removing default margin and padding */
    margin: 0%;
    padding: 0%;
    /* The CSS box-sizing property allows us to include the padding and border in an element's total width and height */
    box-sizing: border-box; 
}
body {
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif; 
  line-height: 27px;
  background-color: #f6f6f6;

  
}
h1{
    color: #000000;
   font-family: 'Montserrat 900', sans-serif;
   line-height: 48px;
font-weight: normal;

 }

 h2{
     color: #00d2b5;
     font-weight: 600;
     font-size: 30px;
 }

 input{
     border: none;
    margin: 0.5% 0%;
    width: 100%;
    outline: none;
 }
 select{
    border: none;
    margin: 2% 0% 0% 0%;
    width: 50%;
    outline: none;
    color: gray;
 }

 textarea{
    border: none;
    margin: 0.5% 0% 0% 0%;
 width: 100%;
    outline: none;
 }
 option{
     border: none;

 }

 .heading_part{
     text-align: center;
     padding-top: 2%;
     background-color: #ffff;
 }

 .registration_container{
     max-width: 960px;
     background-color: #fff;
     margin-left: auto;
     margin-right: auto;
padding: 6% 7%;
border-bottom: 1px solid #edf0f5;
 }

 .registration_container h2{
padding-bottom: 2%;
 }

.input--style-2{
    display: inline-block;
    width: 3%;
}
.btn1{
    margin-top: 11%;
    padding:2%;
    background: #22c9b5;
    outline: none;
    border: none;
}
.footer{
    background-color: #fff;
    text-align: center;
 padding-top: 7%;
padding-bottom: 3%; 
}
p{
    font-weight: 300;
    font-size: 16px;
}


